<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dongguktoocean.schedule.repository.ShipScheduleRepository">
    <select id="findSchedules" resultType="com.example.dongguktoocean.schedule.dto.ShipScheduleResponseDto">
        SELECT
            ship_code AS shipCode,
            captain,
            loading_port AS loadingPort,
            destination_port AS destinationPort,
            departure_time AS departureTime,
            arrival_time AS arrivalTime
        FROM ship_schedule
        WHERE loading_port = #{loadingPort}
          AND destination_port = #{destinationPort}
          AND departure_time::DATE >= #{departureDate}
    </select>
</mapper>
